  .footerNavBar, .footer {
    background-color:#717171 !important;
  }

  .footerNavBar * {
    margin: auto;
    color:white;
    margin-top:auto;
    bottom:0px;
  }

.footer {
  padding-top:50px;
  padding-bottom:75px;
  /* height: 200px; */
}

.cookie_text {
  font-size:0.7em;
  clear:both;
  vertical-align: 0px;
  text-align: center;
  padding-bottom:0px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
}