<div>
  <h1>Verkeersborden, {{TrafficSigns.length}} op deze pagina.</h1> 
</div>
<div class="trafficSignsContainer">
  <mat-card class="trafficSign" *ngFor="let trafficSign of TrafficSigns">
    <img mat-card-image src="{{trafficSignImageUrlBase + trafficSign.image.filename + '.png'}}" 
      loading="lazy"
      alt="Categorie: {{trafficSign.category}}">
    <mat-card-content>{{trafficSign.description}}</mat-card-content>
  </mat-card>
</div>
<br />
<p class="sourceText">Source: {{signsSourceUrl}}.</p>

