<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Verkeersborden, {{TrafficSigns.length}} op deze pagina.</h1>
    <a routerLink="/quiz" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <i class="fas fa-traffic-light fa-sm text-white-50"></i> Start BordenQuiz
    </a>
 
  </div>

  <!-- Content Row -->
  <div class="row">
      <div class="card traffic-sign" style="width: 18rem;" *ngFor="let trafficSign of TrafficSigns">
          <img class="card-img-top" src="{{trafficSignImageUrlBase + trafficSign.image.filename + '.png'}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{trafficSign.title}}</h5>
            <p class="card-text">{{trafficSign.description}}</p>
          </div>
        </div>
      </div>
  <p>Source: {{signsSourceUrl}}.</p>
</div>