
<div class="pageWrapper">
  <h1 class="pageTitle">Dashboard</h1>

  <div *ngIf="quizzes.length > 0">
    <mat-card class="emptyQuizzesCard">
        <mat-card-content>
      Aantal afgenomen testen: {{quizzes.length}}. <br /><br />
      Grafiekjes komen er aan. Work in Progress :).
    </mat-card-content>

    <mat-card-actions>
      <button mat-button class="signQuizButton" routerLink="/traffic_signs/quiz/new" >
        Start nogmaals de bordenquiz.
      </button>
      </mat-card-actions>
    </mat-card>
    </div>

    



<div *ngIf="quizzes.length === 0">
    <mat-card class="emptyQuizzesCard">
      <mat-card-content>
        U heeft geen quiz afgenomen. Ga erhaan om meteen te beginnen. Registratie niet nodig.
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-button class="signQuizButton" routerLink="/traffic_signs/quiz/new" >
          Start bordenquiz
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>