  .footerNavBar, .footer {
    background-color:#717171 !important;
  }

  .footerNavBar * {
    margin: auto;
    color:white;
    margin-top:auto;
    bottom:0px;
  }

.footer {
  padding-top:50px;
  padding-bottom:75px;
  /* height: 200px; */
}