<nav>
    <div>
      <a routerLink="/">Verkeertrainer.nl</a>
    </div>
  <ul>
    <li>
      <a routerLink="/home">
        <i></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li>
      <button type="button" id="dropdownMenuButton">
        Verkeersborden
      </button>
      <div>
          <a routerLink="/traffic_signs">Overzicht</a>
          <a routerLink="/traffic_signs/quiz/new">Quiz</a>
          <a routerLink="/traffic_signs/quiz/results">Resultaten</a>
      </div>
    </li>

    <li>
      <button type="button" id="dropdownMenuButton">
        <del>Rijbewijs B</del>
      </button>
      <div>
          <a routerLink="/drivers_license_b/rules">Verkeersregels</a>
          <a routerLink="/drivers_license_b/insight">Verkeersinzicht</a>
          <a routerLink="/drivers_license_b/danger_recognition">Gevaarherkenning</a>
          <a routerLink="/drivers_license_b/practice">Oefeningen</a>
          <a routerLink="/drivers_license_b/practice_results">Resultaten</a>
      </div>
    </li>
    
    <li>
      <a routerLink="/about">
          <span>Over</span>
        </a>
    </li>

    <li *ngIf="currentpath != '/traffic_signs/quiz/new'">
      <a routerLink="/traffic_signs/quiz/new">
      Start nu de borden Quiz</a>
    </li>
  </ul>
</nav>
