.topbarMenuItems > *:hover {
    color:black;
}

.logo {
    float:left;
    position: relative;
    border:1px solid black;
    border-radius: 20px;
    color:black;
    background-color:white;
}

.logoIcon {
  display:none;
}

.mat-toolbar {
  background-color:white !important;
}

@media screen and (max-width: 790px) {
  .logoText {
      display:none;
  }

  .logoIcon {
    display: inline;
  }
  
}

.signQuizButton {
  width:auto;
}