<mat-toolbar>
  <mat-toolbar-row>
    <span><button mat-button routerLink="/" class="logo"><span class="logoIcon">V</span><span class="logoText">Verkeertrainer.nl</span></button></span>
    <span class="topbarMenuItems">
      <button mat-button [matMenuTriggerFor]="menuVerkeersBorden" id="dropdownMenuButton">
        Verkeersborden
      </button>
    
      <mat-menu #menuVerkeersBorden="matMenu">
          <button mat-menu-item routerLink="/traffic_signs">Overzicht</button>
          <button mat-menu-item routerLink="/traffic_signs/quiz/new">Quiz</button>
          <button mat-menu-item routerLink="/traffic_signs/quiz/results">Resultaten</button>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="menuRijbewijsB" id="dropdownMenuButton">
        <del>Rijbewijs B</del>
      </button>
      <mat-menu #menuRijbewijsB="matMenu">
          <button mat-menu-item routerLink="/drivers_license_b/rules">Verkeersregels</button>
          <button mat-menu-item routerLink="/drivers_license_b/insight">Verkeersinzicht</button>
          <button mat-menu-item routerLink="/drivers_license_b/danger_recognition">Gevaarherkenning</button>
          <button mat-menu-item routerLink="/drivers_license_b/practice">Oefeningen</button>
          <button mat-menu-item routerLink="/drivers_license_b/practice_results">Resultaten</button>
      </mat-menu>
    
      <button mat-button routerLink="/about">
          <span>Over</span>
      </button>
    </span>

    <button mat-button class="signQuizButton" routerLink="/traffic_signs/quiz/new" *ngIf="currentpath != '/traffic_signs/quiz/new'">
      Start bordenquiz
    </button>
  </mat-toolbar-row>
</mat-toolbar>
