<div class="pagewrapper">
    <br />
<mat-card class="page_content">
    <mat-card-title>
        <h2 class="page_header">Info en contact</h2>
    </mat-card-title>
    <mat-card-content>
        <div class="content">
            <p>Het doel van dit website is onder andere een laagdrempelig, 
            makkelijk te starten, opfrissing van kennis over het verkeer beschikbaar te stellen.
            </p>

            <p>Op dit moment bestaat het uit een verkeersborden overzicht en quiz. 
                Uitbreiding met meer regels over het verkeer staat op de planning.
            </p>
            <p>
                Verzoeken of opmerkingen kunnen gemaakt worden via:
                <button mat-button><a href="https://github.com/ADogan/verkeertrainer/issues">Github</a></button>
            </p>
        </div>
    </mat-card-content>
</mat-card>
</div>