.topbarMenuItems {
  align-content: right;
}

.topbarMenuItems > *:hover {
    color:black;
}

.active_page_link {
  background-color:lightgray;
  color:black;
}

.logo {
    float:left;
    position: relative;
    border:1px solid black;
    border-radius: 20px;
    color:black;
    background-color:white;
}

.logoIcon {
  display:none;
}

.mat-toolbar {
  background-color:white !important;
}

@media screen and (max-width: 790px) {
  .logoText {
      display:none;
  }

  .logoIcon {
    display: inline;
  }

}

.signQuizButton {
  width:auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.examStats *{
  font-size: 0.45em;
  float:right;
  text-align: right;
  line-height: 1.2em;
  color:grey;
  cursor: pointer;
  /* background-color: red; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently */
 }

.examStats *:hover{
  color:black;
  /* background-color: red; */
 }

@media screen and (max-width: 790px) {
  .logoText {
      display:none;
  }

  .logoIcon {
    display: inline;
  }

  .examStats {
    font-size: 1.4em;
  }
}
