
<div>
    <div>
      <div>
        <div>
            <div>
                <h6>Verkeersborden Quiz; Vraag nummer: {{questionNumber}}</h6>
            </div>
            <div>
                <div>
                    <img style="width: 25rem;" src="assets/img/traffic_signs/{{currentSignImageFileName}}.png" alt="">
                </div>
                <p>Wat is de beschrijving van dit verkeersbord?</p>
    
                <div>
                    <div *ngFor="let quizOption of quizOptions; let i=index">
                        <div (click)="clickedAnswer(quizOption)" 
                        [ngClass]="{'bg-light': quizOption.status === 'unset',
                                    'bg-success': quizOption.status === 'correct_chosen',
                                    'bg-warning': quizOption.status === 'correct_not_chosen',
                                    'bg-danger': quizOption.status === 'incorrect_chosen',
                                    'bg-secondary': quizOption.status === 'incorrect_not_chosen'}" >
                            <span><i>{{i+1}}</i></span>
                            <div>
                                {{quizOption.description}}
                            </div>
                        </div>
                    </div>
                    <button
                        *ngIf="showContinueButton" 
                        (click)="nextQuestion()">Volgende
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>