.quizCardWrapper {
   margin:auto;
   width:100%;
}
.quiz-card {
     clear:both;
     max-width: 35rem;
     margin-left:auto;
     margin-right:auto;
     overflow: hidden;
     margin-bottom:100px;
     text-align: center;
     align-content: center;
 }

 .quizOptionsWrapper {
    margin-left:auto;
    margin-right:auto;
    padding-bottom:25px;
}

.quizOptionCard {
    margin:5px;
    display:inline;
 }

 @media screen and (max-width: 600px) {
    .quizOptionCard, .quizOptionButton {
      width:100% !important;
   }
 }

 .quizOptionButton {
   white-space: pre-wrap;
   line-height: 2em;
   min-height:100px;
   width:45%;
   margin-bottom:10px;
   margin-right:10px;
   margin-left:auto;
   font-size:1.3em;
   color:#2b2b2b !important;
   vertical-align: text-top;
   padding:10px;
 }

 .quizOptionButton:hover {
    color:#000000 !important;
 }

 .quizOptionButton:active {
    box-shadow: none !important;
    background-color:white;
 }
 
 .quizContinueButton {
   font-size:1.2em;
 }

 .quizOptionButton .buttonIcon {
     position:absolute;
     left:6px;
     top:1px;
     color:gray;
 }

 .quizOptionCard .unset {
   background-color:white;
    color:rgb(30,30,30);
 }

 .quizOptionCard .correct_chosen {
    background-color:#8EE000 !important;;
    color:white;
 }

 .quizOptionCard .correct_chosen:hover {
    background-color:#8EE000 !important;
    color:white;
 }

 .quizOptionCard .correct_not_chosen {
    background-color:#FF9400 !important;;
    color:white;
 }

 .quizOptionCard .incorrect_chosen {
    background-color:#E53B3B !important;;
    color:white;
 }

 .quizOptionCard .incorrect_not_chosen {
    background-color:#777777 !important;;
    color:white;
 }

 .currentSignImage {
   max-width:20rem;
}

.quizProgress {
    margin-top:200px; 
    clear:both;
}