
<div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 col-lg-8 quizBox">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Verkeersborden Quiz; Vraag nummer: {{questionNumber}}</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body quizBoxBody">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 quizzedTrafficSign" style="width: 25rem;" src="assets/img/traffic_signs/{{currentSignImageFileName}}.png" alt="">
                </div>
                <p>Wat is de beschrijving van dit verkeersbord?</p>
    
                <div class="row">
                    <div class="col-lg-6 mb-4 quizOptionBox" *ngFor="let quizOption of quizOptions; let i=index">
                        <div class="card quizOptionCard" (click)="clickedAnswer(quizOption)" [ngClass]="{'bg-light': quizOption.status === 'unset',
                        'bg-success': quizOption.status === 'correct',
                        'bg-warning': quizOption.status === 'chosenIncorrect',
                        'bg-secondary': quizOption.status === 'incorrect'}">
                            <span class="icon quizOptionIcon"><i>{{i+1}}</i></span>
                            <div class="card-body">
                                {{quizOption.description}}
                            </div>
                        </div>
                    </div>
                    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" *ngIf="showContinueButton" (click)="nextQuestion()">Volgende</button>
                </div>
            </div>
        </div>
    </div>


    </div>
  </div>