<div class="col-xl-9 col-lg-8">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Verkeersborden Quiz</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">

            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/img/undraw_posting_photo.svg" alt="">
            </div>
            <p>Wat is het volgende verkeersbord?</p>

            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow quizchoice">
                        <div class="card-body">
                            The possible answer could be a very long one.
                            <div class="text-white-50 small">#4e73df</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                            The possible answer could be a very long one.
                        <div class="text-white-50 small">#1cc88a</div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                            The possible answer could be a very long one.
                        <div class="text-white-50 small">#36b9cc</div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-primary text-white shadow">
                    <div class="card-body">
                            The possible answer could be a very long one.
                        <div class="text-white-50 small">#f6c23e</div>
                    </div>
                    </div>
                </div>
            </div>

                                  
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">A.<i class="fas fa-download fa-sm text-white-50"></i> Possible answer could be very long</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">B.<i class="fas fa-download fa-sm text-white-50"></i> Possible answer could be very long</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">C.<i class="fas fa-download fa-sm text-white-50"></i> Possible answer could be very long</a>      

            
        </div>
    </div>
</div>