.trafficSign:hover { 
    cursor:pointer;
    color:black;
    background-color:#fefefe;
}

.trafficSign {
    width: 300px;
    /* height:400px; */
    margin:30px;
    left:25px;
    /* float:left; */
    /* margin-left:auto; */
    /* margin-right:auto; */
}
.trafficSignsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.trafficSign .mat-card-content{
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 790px) {
    .trafficSign{
        width:100%;
        height:auto;
        margin-left:0px;
        margin-right:0px;
        left:0px;
    }
    .trafficSign .mat-card-content{
        font-size:24px;
    }
}

.sourceText {
    font-size:0.5em;
    text-align:center;
}

.oefen_modus { 
    position: relative;
}

.remove_modus {
    padding:5px;
    color:black;
}

.remove_modus:hover {
    padding:5px;
    color:red;

}

.settings_card{
    text-align: center;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}